.hero {
  background-image: url('textura-navbar.svg'); 
  background-size: cover;
  background-position: center;
  min-height: 100vh; 
  color: rgb(18, 18, 19);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.hero-logo {
  width: 1000px; 
  height: 450px;    
  transition: transform 0.3s ease; 
}

.hero-logo:hover {
  transform: scale(1.5); 
}

@media (max-width: 768px) {
  .hero-logo {
    width: 90%; 
  }
}

@media (max-width: 480px) {
  .hero-logo {
    width: 90%; 
  }
}
.footer {
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-text {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 768px) {
  .footer-text {
    font-size: 14px; 
  }
}

@media (max-width: 480px) {
  .footer-text {
    font-size: 12px; 
  }
}
