/* Navbar */
.navbar {
    background-color: #eee6e6cc; 
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-nav .nav-link {
    font-size: 18px; 
    font-weight: bold; 
    margin-left: 50px;
    margin-right: 10px;
    padding: 20px;
    font-family: "Sixtyfour Convergence", sans-serif; 
    font-optical-sizing: auto;
    font-style: normal;
    color: #000; 
}


