
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}

h2.project-title {
  font-family: "Londrina Sketch", sans-serif;
  color: white;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.navbar {
  margin: 0%;
}

.nav-link {
  font-size: 1.25rem;
}

.btn-primary {
  background-color: rgb(12, 236, 180); 
  border: none; 
  border-radius: 25px; 
  padding: 10px 20px;
  transition: background-color 0.3s; 
}


.card {
  border: none; 
  border-radius: 15px; 
  transition: transform 0.3s, box-shadow 0.3s; 
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1); 
  padding: 10px;
  &:hover {
      transform: translateY(-10px); 
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); 
  }
}

.card-title {
  font-size: 1.25rem; 
  font-weight: bold; 
  color: #333; 
  margin-bottom: 10px; 
}    

.card-img-top {
    border-radius: 15px ; 
    object-fit: contain; 
    height: 200px; 
    width: 100%;
    margin-top: 10px;
}

.card-text {
  font-size: 0.9rem; 
  color: #666; 
  margin-bottom: 
}


.modal-content {
  border-radius: 20px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
  overflow: hidden; 
}

.modal-header {
  background-color: #f8f9fa; 
  border-bottom: 1px solid #dee2e6; 
}

.modal-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #333; 
}

.modal-footer {
  background-color: #f8f9fa; 
  border-top: 1px solid #dee2e6; 
}


.modal-img {
  object-fit: contain; 
  max-width: 100%; 
  max-height: 70vh;
  height: auto; 
  max-height: 80vh; 
  display: block;
  margin: 0 auto; 
}


@media (max-width: 576px) {
  .modal-content {
    padding: 0 15px; 
  }

  .modal-title {
    font-size: 1.5rem; 
  }
}



@media (max-width: 575.98px) {
  .navbar-brand img {
    height: 80px;
    width: 200px;
  }

  h2.project-title {
    font-size: 1.8rem;
  }

  .navbar-toggler {
    margin-bottom: 1rem;
  }

  .nav-link {
    font-size: 1.1rem;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .card-text {
    font-size: 0.9rem;
  }

  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
}

/* Pantallas medianas (Tablets - entre 576px y 767px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-brand img {
    height: 100px;
    width: 250px;
  }

  h2.project-title {
    font-size: 2rem;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .card-text {
    font-size: 0.95rem;
  }

  .card-img-top {
    height: 220px;
    object-fit: cover;
  }
}

/* Pantallas grandes (Escritorio - desde 768px en adelante) */
@media (min-width: 768px) {
  .navbar-brand img {
    height: 130px;
    width: 300px;
  }

  .nav-link {
    font-size: 1.25rem;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 1rem;
  }

  .card-img-top {
    height: 250px;
    object-fit: cover;
  }
}

@media (min-width: 1200px) {
  .navbar-brand img {
    height: 150px;
    width: 320px;
  }

  h2.project-title {
    font-size: 3rem;
  }

  .card-title {
    font-size: 1.3rem;
  }

  .card-text {
    font-size: 1.1rem;
  }

  .card-img-top {
    height: 300px;
    object-fit: cover;
  }
}

